[submodule "MCU/components/es7243e/es7243e-driver"]
	path = MCU/components/es7243e/es7243e-driver
	url = https://github.com/huxiangjs/es7243e-driver.git
[submodule "MCU/components/fvad"]
	path = MCU/components/fvad
	url = https://github.com/huxiangjs/libfvad-components-for-esp32c3.git
[submodule "MCU/components/tflm"]
	path = MCU/components/tflm
	url = https://github.com/huxiangjs/tflite-micro-components-for-esp32c3.git
[submodule "MCU/main/tiny-AES-c"]
	path = MCU/main/tiny-AES-c
	url = https://github.com/kokke/tiny-AES-c.git
[submodule "MCU/main/esp32-common"]
	path = MCU/main/esp32-common
	url = https://github.com/huxiangjs/esp32-common.git
